@import 'simonwhitaker/github-fork-ribbon-css:gh-fork-ribbon.css';
@import 'suitcss/base';
@import 'littlebitselectronics/futura-round-family';
@import './parts/font';
@import './parts/banner';
@import './parts/sci-line';
@import './parts/service-card';


.themeDark {
  background: hsl(0, 0%, 19%);
  color: white;
}

.themeSecondary {
  background: hsl(280, 50%, 22%);
  color: white;
}





* {
  box-sizing: border-box;
}


.banner {
  margin-bottom: 1px;
}

html {
  line-height: 1.33333;
  font-size: 16px
}

html, body {
  height: 100%;
  width: 100%;
}



.routes {
  max-width: 40rem;
  margin: 1rem auto;
}

.routes > *:not(:last-child) {
  margin-bottom: 3rem;
}

.route {
  background: #EFEFEF;
  padding: 1rem;
}


.route-header {
  font-family: courier;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.route-summary {

}


h2 {
  margin-top: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.params > *:not(:last-child){
  margin-bottom: 1rem;
}

.param-name {
  font-family: courier;
  margin-bottom: 1rem;
}

.param-summary {
  margin-top: 1rem;
}



a {
  color: #2aa198;
}

a:hover {
  color: #de1601;
}

a:target {
  color: #115160 !important;
}
