@import 'suitcss-base';
@import '@littlebits/asset-font-futura-round';
@import './parts/vars';
@import './parts/font';
@import './parts/banner';
@import './parts/sci-line';
@import './parts/service-card';
@import './parts/badge';
@import './parts/toc';
@import './parts/params';



.themeDark {
  background: hsl(0, 0%, 19%);
  color: white;
}

.themeSecondary {
  background: hsl(280, 50%, 22%);
  color: white;
}





* {
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
}

.banner {
  margin-bottom: 1px;
}

html {
  font: 16px/1.33333 sans-serif;
  color: hsla(0, 0%, 0%, 0.85);
}

html, body {
  height: 100%;
  width: 100%;
}

h2 {
  margin-top: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.container {
  margin: 2rem auto;
  max-width: 40rem;
}

.routes {
}

.route > *:not(:last-child) {
  margin-bottom: 2rem;
}

.route {
  margin: 2rem;
  margin-top: 7rem;
}


.route-head {
  margin-bottom: 1rem;
}
.route-head a {
  margin-bottom: 1em;
}

.route-head p {
  white-space: pre-wrap;
}

a {
  color: var(--color-purple);
  text-decoration: none;
  padding: 0.2em 0.5em;
  margin-left: -0.5em;
  display: inline-block;
}

p {
  max-width: 40rem;
}

a:target,
a:hover {
  background-color: color(var(--color-purple) a(-0.88));
}

a:active {
  color: var(--color-red) !important;
  background-color: color(var(--color-red) a(-0.88)) !important;
}

a:target {
  outline: none;
}

.section-head {
  margin: 2rem;
  border-bottom: 1px solid var(--color-shade1);
}





.example pre:not(:last-child) {
  border-bottom: 1px dashed var(--color-purple);
  border-radius: 0;
}

.example:not(:last-child) {
  margin-bottom: 1rem;
}
