!!!
html
  head
    title BitCloud API Documentation
    meta(charset="utf-8")
    link(href="/assets/github-markdown.css" rel="stylesheet" type="text/css")
    link(href="/assets/app.css" rel="stylesheet" type="text/css")
    link(href="/assets/heading-anchors.css" rel="stylesheet" type="text/css")
    script(src="/assets/heading-anchors.js")
  body
    .content!= content
    script HeadingAnchors.init()