!!!
html
  head
    title BitCloud API Documentation
    meta(charset="utf-8")
    link(href="/assets/legacy/github-markdown.css" rel="stylesheet" type="text/css")
    link(href="/assets/legacy/index.css" rel="stylesheet" type="text/css")
    link(href="/assets/legacy/heading-anchors.css" rel="stylesheet" type="text/css")
    script(src="/assets/legacy/heading-anchors.js")
  body
    .content!= content
    script HeadingAnchors.init()
