@import 'github-fork-ribbon-css/gh-fork-ribbon.css';



.banner {
  height: 20rem;
  display: flex;
  align-items: flex-end;
  padding-left: 2rem;
  padding-bottom: 2rem;
}


.github-fork-ribbon {
  background: transparent;
  box-shadow: none;
  border: 1px solid currentcolor;
  color: white;
  padding: 0;
}

.github-fork-ribbon a {
  color: inherit;
  padding: 0.3em 0 !important;
  text-shadow: none !important;
  border: none !important;
}

.github-fork-ribbon a:hover {
  background: white;
  color: var(--color-purple);
}
