.sciLine {
  display: flex;
  align-items: flex-end;
}

.sciLine-letter {
  font-size: 6rem;
  align-self: baseline;
  line-height: 0.75;
}

.sciLine-words {
  margin-left: auto;
  text-align: right;
  margin-bottom: -0.2em;
}
