@media (--md-up) {
  .toc {
    display: flex;
    justify-content: space-between;
  }
}

.toc {
  margin: 0 2rem;
}

.toc-section {
  margin-top: 2rem;
}


.toc-section-item a {
  display: block;
  color: black;
  text-decoration: none;
  padding-left: 0.25em;
  margin-left: -0.25em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 2px;
}

.toc-section-title {
  font-size: 1rem;
  border-bottom: 1px solid var(--color-grey);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
